body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 450px;
	color: var(--grey);
  background: var(--dark);
}

/* #root {
  min-width: 450px;
} */

:root {
	--business: #3a82ee;
	--personal: #EA40A4;
	--danger: #ff5b57;
  --dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
}

.container {
  width: 450px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 650px;
  }
}

section {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 25px;
	padding-right: 25px;
}
